<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="/fragments/header :: header">
</head>
<body>
	<div class="container mt-3">
		<form class="card" th:action="@{/bugs/add}" method="POST">
			<h2 class="card-header bg-primary">Add a bug</h2>
			<div class="card-body">
				<input class="form-control mb-2" type="text" name="name"
					placeholder="Enter a bug name" />
				<textarea class="form-control mb-2" name="description"
					placeholder="Please enter a detailed description"></textarea>
				Priority:
				<select class="" name="priority">
					<option th:each="priority : ${priority}"
						th:text="${priority.getPriority} + ' - ' + ${priority}"
						th:value="${priority}"></option>
				</select>
				Developer:
				<select>
					<option th:each="developer : ${developers}"
						th:text="${developer.getDeveloperInfo}"
						th:value=${developer.getId}></option>
				</select>
			</div>
			<div class="card-footer">
				<a class="btn btn-secondary" th:href="@{/bugs}">Back</a>
				<button class="btn btn-danger" type="reset">Reset fields</button>
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</form>
	</div>
	</div>
</body>
</html>